body, html {
    padding: 0;
    margin: 0;
    background-color: #ecf0f1;
}

.form-container {
    width: 300px;
    background-color: #7f8c8dcc;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

input {
    display: block;
}

.form-container input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #ffffff;
    background-color: #2f364088;
    padding: 5px 10px;
    width: 90%;
    border-radius: 5px;
    color: #ecf0f1;
}

.form-container button {
    padding: 7px 12px;
    width: 40%;
    background-color: #2ecc71;
    border: none;
    color: #ecf0f1;
    border-radius: 5px;
    transition: all;
    transition-duration: 500ms;
}

.form-container button:hover {
    transform: scale(1.2);
}

.error {
    font-weight: bold;
    color: #c0392b;
    margin-bottom: 15px;
}

.form-container button:disabled {
    opacity: 0.5;
}